
:root{
  --background-color : white;
  
  --primary-color : white;
  --secondary-color : black;
  
  --primary-text-color : rgb(17, 17, 17);
  --border-color : #ccc;

  --header-font : 1.5rem;
  --header-weight : bold;

  --primary-fs : 1.1rem;
  --primary-fw : 600;

  --secondary-fs : 1rem;
  --secondary-fw : 500;

  --description-fs : .8rem;

  --box-shadow-color : rgba(0, 0, 0,0.1);

  --padding-1 : 1rem;
  --gap : 1rem

}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  /* overflow: hidden; */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.container {
  --max-width: 1300px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: .4s all;
}

.btn:hover{
  background-color: #e0e0e07c;
}

/* custom checkbox */
input[type="checkbox"]:checked+span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  min-width: 0.9rem;
  min-height: 0.9rem;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  position: relative;
}

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
  background-color: var(--secondary-color);
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0.5px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--padding-1);
}

.header__left {
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__toggle-btn {
  display: none;
}

.header__title {
  font-size: var(--header-font);
  font-weight: var(--header-weight);
}

.header__search {
  padding: 0.6rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  width: 200px;
}

.header__sort {
  position: relative;
}

.fa-sort {
  display: none;
}

.header__sort-options li {
  padding: 5px;
  cursor: pointer;
}

/* sort menu*/
.header__sort-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.header__sort-options.show {
  opacity: 1;
  z-index: 50;
  visibility: visible;
  transform: translateY(0);
}

.header__sort-options li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__sort-options li:hover {
  background-color: #f0f0f0;
}

.header__sort-options input[type="radio"] {
  appearance: none;
  margin-right: 0.5rem;
  position: relative;
}

.header__sort-options input[type="radio"]:checked::before {
  content: '•';
  color: var(--secondary-color);
  font-size: 2rem;
  position: absolute;
  left: -.5rem;
  transform: translateY(-65%);
}

/* layout */

.sidebar {
  grid-area: sidebar;
  padding: 0.5rem;
}

.catalog {
  grid-area: catalog;
}

.layout__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar catalog";
  gap: var(--gap);
  height: 100%;
  position: relative;
}

/* side bar*/

.sidebar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  height: fit-content;
  /* overflow-y: auto; */
  scroll-behavior: smooth;
}

.sidebar__heading--container {
  display: flex;
  justify-content: space-between;
}

.sidebar__filter--clear[hidden] {
  display: none;
}

.sidebar__filter--clear {
  outline: none;
  border: none;
  padding: .3rem .5rem;
  border-radius: .3rem;
  cursor: pointer;
  display: block;
}

.sidebar__filters {
  padding: 1rem;
}

.sidebar__filter {
  padding-block: 0.7rem;
  border-bottom: 1px solid rgba(153, 151, 151, 0.5);
  position: relative;
}

.sidebar__filter .sidebar__filter--show {
  display: flex;
  opacity: 1;
  position: relative;

}

.sidebar__filter label {
  font-size: var(--secondary-fs);
}

.sidebar__filter--attribute-value,
.sidebar__filter--category-value,
.sidebar__filter--rating-value,
.sidebar__filter--price-value,
.sidebar__filter--brand-value {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-block: 0.5rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
}

.sidebar__filter--heading .arrow {
  float: right;
}

.sidebar__filter--heading:hover {
  text-decoration: underline;
}

/* range */
/* input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 0.4rem;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
} */


.slider-container{
  width: 100%;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: var(--secondary-color);
}
.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 3px;
  background: none;
  top: -6px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -webkit-appearance: none;
}

/* price input */
.price-input{
  display: flex;
  margin-top: .7rem;
  justify-content: space-between;
}

.price-input input[type="number"] {
  padding: 0.1rem;
  width: 4rem;
}


/* catalog */

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--padding-1);
  transition: margin-left 0.3s ease;
  box-shadow: 0px 2px 4px var(--box-shadow-color);
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 23.2%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  max-height: 350px;
  transition: all .3s ease-in;
}

.product-card__image {
  overflow: hidden;
  height: 150px;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__image img:hover {
  transform: scale(1.05);
}

.product-card__content {
  padding: 1rem 1rem .5rem;
}

.product-card__title {
  margin: 0;
  font-size: var(--primary-fs);
  font-weight: var(--primary-fw);
}

.product-card__rating {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.product-card__rating span {
  color: gray;
  font-size: var(--description-fs);
}

.product-card__price {
  margin: 10px 0;
  font-weight: 600;
}

.product-card__actions{
  margin-top: auto;
  padding: 0rem var(--padding-1) var(--padding-1) var(--padding-1);
}

.product-card__button {
  width: 100%;
  text-align: center;
}

/* modal */
.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: .3s all;
}

.modal.modal-open {
  display: block;
  opacity: 1;
}

.modal__popup-close{
  cursor: pointer;
}

.modal__popup{
  background-color: var(--primary-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.modal__popup--heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: var(--header-font);
}

.modal__popup--content {
  display: flex;
  background: var(--primary-color);
  border-radius: 8px;
  gap: 2rem;
 
}

.modal__pop--content-left{
  width: 50%;
  overflow: hidden;
}

.modal__popup--image{
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.modal__popup--image:hover{
  transform: scale(1.05);
}

.modal__popup--content-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal__popup--attribute-list li{
  font-size: .8rem;
  line-height: 1.3rem;
}

.modal__popup--actions{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .product-card {
    width: 31.3%;
  }

  .header__toggle-btn {
    display: block;
  }

  .layout__container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(255, 255, 255, 1);
    transition: left 0.5s ease-in-out;
    z-index: 100;
  }

  .catalog {
    width: 100%;
  }

  .sidebar.active {
    left: 0;
    position: fixed;
    overflow-y: scroll;
  }

  .modal__popup{
    width: 70%;
  }
}

@media (max-width:768px) {
  .product-card {
    width: 46%;
  }

  .catalog {
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: start;
  }

  .header__title {
    text-align: start;
    margin-bottom: 1rem;
  }

  .header__right {
    width: 100%;
    justify-content: end;
  }

  .product-card {
    width: 300px;
  }

  .catalog {
    flex-direction: column;
    align-items: center;
  }
  .modal__popup--content{
    flex-direction: column;
    justify-content: center;
  }
  .modal__popup--content-right{
    width: 100%;
  }
  .modal__pop--content-left{
    margin: auto;
  }
}

@media (max-width:450px) {

  .header__right span,
  .fa-chevron-down {
    display: none;
  }

  .fa-sort {
    display: block;
  }

  .header__search {
    width: 100%;  
  }
}
